:root{
    --dark-primary-bg: #121212;
    --dark-text: #eee;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
        color: var(--dark-text);
    background: var(--dark-primary-bg);
    transition: background-color 1s;
}

body a {
    color: #809fff;
}

.toggle {
    display: flex;
}


.header {
    display: flex;
    align-items: center;
    /* font-size: 3vw; */
}

.header .logo {
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    padding-left: 1rem;
}

@media screen and (max-width: 800px) {
    .header .logo {
        font-size: 8vw;
    }
}


/* Style for navbar */
.nav {
    font-size:20px;
    /* color: var(--white); */
}

.nav .first {
    padding-left: 0px;
}

@media screen and (max-width: 800px) {
    *{
        transition: ease 1s;
    }
    .navbar-header{
        margin: 4px;
    }
    .nav .first {
        padding-left: 15px;
    }
    navbar-brand{
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    *{
        transition: ease-in 1s;
    }
    navbar-brand{
        font-size: 40px;
    }
    .navbar-text-color .nav li a{
        color: var(--white);
    }
    .nav .first {
        padding-left: 15px;
    }
}