{% extends 'pagebase.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="container-sm">
    <h1>About</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                What is Bulletin Books?
            </h2>
            <p>Bulletin Books is a textbook trading website for students to post used textbooks and search for textbooks they need</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h2>How do I use it?</h2>
                <p></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}