{% extends 'pagebase.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="container-sm">
    <h1>About</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                What is Bulletin Books?
            </h2>
            <p>Bulletin Books is a textbook trading website for students to post used textbooks and search for textbooks they need.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                How do I use it?
            </h2>
            <p>Head on over to "New Post" and fill out the required information.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                Is it free to use?
            </h2>
            <p>Yes! Bulletin Books is and always will be free to use.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                How does it work?
            </h2>
            <p>Take a peek at my <a href="https://github.com/incub4t0r/bulletin_books">github</a> for more information on how Bulletin Books works.</p>
        </div>
    </div>
    <br>
</div>

{% endblock %}