{% extends 'pagebase.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container-sm">
	<h1>Welcome to Bulletin Books!</h1>
	<br>
	<div class="card">
		<div class="card-body">
			<h2 class="card-title">
				Looking for a textbook?
			</h2>
			<p>Scroll through the listed books to find that textbook you need. Or, use the search bar.</p>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-body">
			<h2 class="card-title">
				Want to list a new book?
			</h2>
			<p>Head on over to the "list a book" section and fill out the info.</p>
		</div>
	</div>
	
</div>


{% endblock %}