<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../static/styles.css"> -->
    
    <link rel="stylesheet" href="../static/light.css">
    <link rel="stylesheet" href="../static/cardlight.css">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <!-- <script type='text/javascript' -->
    <!-- src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2'></script> -->

</head>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const toggle = document.querySelector(".toggle");
        const themesheet = document.getElementsByTagName('link')[0];
        const cardsheet = document.getElementsByTagName('link')[1];
        // console.log(themesheet2);
        const currentTheme = localStorage.getItem("theme");
        if (currentTheme == "dark") {
            themesheet.setAttribute('href', '../static/dark.css');
            cardsheet.setAttribute('href', '../static/carddark.css');
            document.querySelector(".logo").classList.replace("lni-night", "lni-sun");
        }
        else { // currentTheme == "light"
            themesheet.setAttribute('href', '../static/light.css');
            cardsheet.setAttribute('href', '../static/cardlight.css');
            document.querySelector(".logo").classList.replace("lni-sun","lni-night");
        }
        toggle.addEventListener("click", () => {
            document.querySelector(".logo").classList.toggle("lni-sun");
            document.querySelector(".logo").classList.toggle("lni-night");
            if (localStorage.getItem("theme") == "light"){
                themesheet.setAttribute('href', '../static/dark.css');
                cardsheet.setAttribute('href', '../static/carddark.css');
                theme = "dark";
            }
            else{
                themesheet.setAttribute('href', '../static/light.css');
                cardsheet.setAttribute('href', '../static/cardlight.css');
                theme = "light";
            }
            localStorage.setItem("theme", theme);
        });
        // fade in every element
        // const elements = document.body.getElementsByTagName('*');
        // for (const c of elements) {
        //     c.style.opacity = 1;
        //     console.log(c);
        // };
    });
</script>

<body>
    <div class="container">
        <div class="header">
            <h1>Header</h1>
            <div class="toggle">
                <i class="lni logo lni-night"></i>
            </div>
        </div>
        <h1>Hey there! This is just a title</h1>
        <!-- <p>Click on the icon next to the header text.</p>
        <a href="#">I am a link, don't click me!</a>
        <p>I'm a horizontal scroller, press and hold shift while scrolling to view more</p> -->
    </div>
    <div class="container">
        <div class="row">
            {% for n in range(8) %}
            <div class="card">
                <h3 class="title">
                    Card {{n+1}}
                </h3>
                <div class="content">
                    {% for n in range(5) %}
                    <p>
                        This is sentence {{n}} that there is and now im just writing random shit
                    </p>
                    {%endfor%}
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for n in range(8) %}
            <div class="card">
                <h3 class="title">
                    Card {{n+1}}
                </h3>
            </div>
            {%endfor%}
        </div>
    </div>
</body>
<!-- https://dev.to/murtuzaalisurti/dark-mode-toggle-animation-using-css-27il -->

</html>