{% extends 'pagebase.html' %}

{% block title %} Listings {% endblock %}

{% block content %}

<div class="container-sm">
    <h1>
        All posted books
    </h1>
    <div class="container">
        <style>
            .row *{
                padding: 10px;
            }
        </style>
        <div class="row">
            {%for i in range(0, 16)%}
            <div class="col-md-3">
                <div class="card">
                    <!-- <img src="https://images-na.ssl-images-amazon.com/images/I/51vWqzfF0LS.jpg" alt=""="" height="180" class="card-img-top"> -->
                    <div class="card-body">
                        <h3 class="card-title">
                            Book #{{i}}
                        </h3>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>


{% endblock %}