{% extends 'pagebase.html' %}

{% block title %} Post a new book {% endblock %}

{% block content %}

<div class="container-sm">
    <h1>
        Post a new book
    </h1>
    <br>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                ISBN search
            </h2>
            <form action="/textbooks/isbnsearch" method="POST">
                <div class="input-group mb-3">
                    <input class="form-control" id="bookISBN" name="bookISBN" type="text" required="true"
                        placeholder="Book ISBN" aria-describedby="button-addon1"><br>
                    <button class="btn btn-outline-secondary" type="submit">Search by ISBN</button>
                </div>
            </form>
            {%if error is defined%}
            <p class="error">Error finding book by ISBN, either ISBN is wrong or book is not indexed.</p>
            {%endif%}
        </div>
    </div>


    {%if results is defined%}
    <br>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                This is what we found!
            </h2>
            <br>
            <ul class="list-group">
                <li class="list-group-item">Title: {{results.title}}</li>
                <li class="list-group-item">Author(s): {{authors}}</li>
                <li class="list-group-item">Publisher: {{publisher}}</li>
            </ul>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                We just need some info...
            </h2>
            <br>
            <style>
                .input-first {
                    margin-bottom: -1px;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }

                .input-second {
                    margin-bottom: -1px;
                    border-radius: 0;
                }

                .input-third {
                    margin-bottom: 10px;
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                }
            </style>
            <form action="/textbooks/newbook" method="POST">
                <input class="form-control" name="bookTitle" type="hidden" value='{{results.title}}' readonly>
                <input class="form-control" name="bookAuthor" type="hidden" value='{{authors}}'  readonly>
                <input class="form-control" name="bookPublisher" type="hidden" value='{{publisher}} ' readonly>
                <select class="form-select input-first" name="bookCond" required="true">
                    <option value="Excellent">Excellent</option>
                    <option selected value="Fair">Fair</option>
                    <option value="Poor">Poor</option>
                </select>
                <div class="input-group">
                    <span class="input-group-text input-second">$</span>
                    <input class="form-control input-second" name="bookPrice" type="number"
                        placeholder="Price of book (optional)" value="0">
                </div>
                <input class="form-control input-third" name="userEmail" type="email" required="true"
                    placeholder="Email">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required="true">
                    <label class="form-check-label" for="flexCheckDefault">
                        By clicking this checkbox, I confirm that I allow my email to be posted along with the book so other users may contact me.
                        Additionally, I confirm that my email may be used for a one-time deletion code to be sent to for the book.
                    </label>
                </div>
                <br>
                <button class="btn btn-outline-secondary" type="submit">Post a new book</button>
            </form>
        </div>
    </div>

    {%endif%}
</div>

{% endblock %}